node_modules

dist
dist-react
descargas
.env

# Ejecutables (descargados automáticamente por el script)
bin/

# Base de datos y registros temporales
config/

# Credenciales y configuraciones locales
tokens.json
package-lock.json
